<#@ template language="C#" #>
<#@ output extension=".json" #>
<#@ parameter name="DatabaseConnectionString" type="System.String" #>
{
    "ConnectionStrings": {
        "DefaultConnection": "<#=DatabaseConnectionString#>"
    },
    "AllowedHosts": "*"
}