<#@ template language="C#" #>
<#@ output extension=".md" #>
<#@ parameter name="ProjectName" type="System.String" #>
Run the following command in the root directory:
"dotnet ef migrations add --project <#= ProjectName #>.Persistence\<#= ProjectName #>.Persistence.csproj --startup-project <#= ProjectName #>.Api\<#= ProjectName #>.Api.csproj --context <#= ProjectName #>.Persistence.<#= ProjectName #>DbContext --configuration Debug initialize_migrations --output-dir Migrations"

"dotnet ef database update --project <#= ProjectName #>.Persistence\<#= ProjectName #>.Persistence.csproj --startup-project <#= ProjectName #>.Api\<#= ProjectName #>.Api.csproj --context <#= ProjectName #>.Persistence.<#= ProjectName #>DbContext --configuration Debug initialize_migrations"