<#@ template language="C#" #>
<#@ output extension=".cs" #>
<#@ assembly name="TFive" #>
<#@ import namespace="TFive" #>
<#@ import namespace="System.Linq" #>
<#@ parameter name="ProjectName" type="System.String" #>
namespace <#= ProjectName #>.Domain;

public interface IEntity
{
    public long Id { get; set; }
}