<#@ template language="C#" #>
<#@ output extension=".json" #>
<#@ parameter name="ProjectName" type="System.String" #>
{
    "ConnectionStrings": {
        "DefaultConnection": "Server=localhost,1433;Database=<#=ProjectName#>;User=sa;Password=reallyStrongPwd123;TrustServerCertificate=True;",
    },
    "AllowedHosts": "*"
}