<#@ template language="C#" #>
<#@ output extension=".ts" #>
<#@ parameter name="InterfaceName" type="System.String" #>
<#@ parameter name="InterfaceProperties" type="List<Property>" #>

export interface <#= InterfaceName #>{
    <#
    foreach (var item in InterfaceProperties){
    #>
        <#= item.Name #> : <#= item.Type #> ;
    <#
    }
    #>
}